@font-face{
    font-family: 'marske';
    src: url('../fonts/Marske.otf') format("opentype")
}

.center{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    &-enter-active, &-leave-active{
        transition: .5s;
    }
    &-enter, &-leave-to{
        opacity: 0;
    }
}

.bold{
    font-weight: bold;
}

code{
    color: red;
    font-size: 1.2em;
}

h1,h2{
    border-bottom: solid 1px #575757;
    margin-bottom: 10px;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    color: #00098d;
}
h3{
    font-size: 1.2em;
}

pre{
    background: #807f7f;
    color: #fff;
    border-radius: 15px;
    font-size: 1.2em;
}

.parent{
    max-height: 100%;
    overflow-y: scroll;
    .content{
        width: 100%;
        padding: 15px;
        background: rgba(255,255,255,0.8);
    }
}